<title>
  <%= gettext("%{subnetwork} %{network} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="BlockScout provides analytics data, API, and Smart Contract tools for xerom">
<meta name="keywords" content="BlockScout, blockchain, api, analytics, address, smart contract">
